<div class="flex">
    <mat-card>
        <mat-card-title>Daily</mat-card-title>
        <mat-card-content>
            <mat-list>
                <!-- <mat-divider></mat-divider> -->
                <div class="flex">
                    <mat-list-item class="half-width">
                        <h4 mat-line>Mean</h4>
                        <p mat-line>{{ dailyReportData?.mean | number:'1.2-2' }}</p>
                    </mat-list-item>
                    <mat-list-item class="half-width">
                        <h4 mat-line>Median</h4>
                        <p mat-line>{{ dailyReportData?.median | number:'1.2-2' }}</p>
                    </mat-list-item>
                </div>
                <!-- <mat-divider></mat-divider> -->
                <h3 mat-subheader>Top Categories</h3>
                <div class="daily-chart-container">
                    <canvas #dailyChart></canvas>
                </div>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Monthly</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <h4 mat-line>This Month</h4>
                    <p mat-line>{{ monthlyReportData?.thisMonthTotal | number:'1.2-2' }}</p>
                </mat-list-item>
                <!-- <mat-divider></mat-divider> -->
                <h3 mat-subheader>Trend</h3>
                <div class="monthly-chart-container">
                    <canvas #monthlyChart></canvas>
                </div>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>