.mat-card {
    max-width: var(--form-max-width);
    margin: 1rem;
    flex-grow: 1;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.half-width {
    width: 50%;
}

@media (max-width: 440px) {
    .category-list {
        flex-direction: column;
    }
    .mat-card {
        max-width: calc(100% - 4rem);
    }
}

.mat-list-item {
    height: 56px !important;
}