.mat-table {
    margin-bottom: 1rem;
}

tr.mat-footer-row {
    font-weight: bold;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 0 0.5rem 0 0.5rem;
}

th.mat-header-cell.align-right ::ng-deep .mat-sort-header-container {
    justify-content: flex-end;
}

th.mat-header-cell.align-center ::ng-deep .mat-sort-header-container {
    justify-content: center;
}

.toolbar {
    margin-bottom: 1rem;
}

.toolbar .mat-form-field {
    display: block;
    max-width: var(--form-max-width);
}