.category-color {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1rem;
    margin: 0 0.5rem 0 0.5rem;
    vertical-align: middle;
}

tr.mat-footer-row {
    font-weight: bold;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 0 0.5rem 0 0.5rem;
}

th.mat-header-cell.align-right ::ng-deep .mat-sort-header-container {
    justify-content: flex-end;
}

th.mat-header-cell.align-center ::ng-deep .mat-sort-header-container {
    justify-content: center;
}

.refresh-button {
    color: rgba(0, 0, 0, 0.7);
}

.toolbar {
    display: flex;
    align-items: baseline;
}

.toolbar .filter {
    flex: 1;
}