<mat-expansion-panel class="toolbar">
    <mat-expansion-panel-header>
        Filters
    </mat-expansion-panel-header>

    <mat-form-field class="full-width">
        <input id="fromDate" matInput [matDatepicker]="fromDatePicker" placeholder="From date" [(ngModel)]="fromDate" (dateChange)="load()">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input id="toDate" matInput [matDatepicker]="toDatePicker" placeholder="To date" [(ngModel)]="toDate" (dateChange)="load()">
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="filter full-width">
        <input id="filter" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</mat-expansion-panel>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 full-width">
    <!-- Timestamp Column -->
    <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
        <td mat-cell *matCellDef="let element"> {{ element.timestamp | date: dateFormat }} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let element">
            <span class="category-color" [style.background-color]="element.category.color || 'lightgray'"></span>
            <span *ngIf="isBigScreen">{{ element.category.name }}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Notes Column -->
    <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef> Notes </th>
        <td mat-cell *matCellDef="let element"> {{ element.notes }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-right"> Amount </th>
        <td mat-cell *matCellDef="let element" align="right"> {{ element.amount | number:'1.2-2' }} </td>
        <td mat-footer-cell *matFooterCellDef align="right"> {{ getTotalAmount() | number:'1.2-2' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
